<section class="page_body">
  <div class="page_wrapper">
    <%= link_to "&larr; Back".html_safe, :back, :class => "link_back" %>
    <div class="page-header">
        <h2>Edit <%= resource.username %></h2>
    </div>
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
            <div class="edit_image left_block">
                <h4>Avatar</h4>
                <%= big_user_avatar(resource) %>
                <div><%= f.file_field :avatar %></div>
            </div>
            <div class="edit_attr">
                <%= devise_error_messages! %>
                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                <% end %>
                <%= f.email_field :email %>
                <%= f.password_field :current_password, :placeholder => "Current Password" %>
                <%= f.password_field :password, :autocomplete => "off", :placeholder => "New Password" %>
                <%= select_year resource.yob, :start_year => Time.now.year - 10, :end_year => Time.now.year - 95, :field_name => :yob, :prompt => "Year of Birth", :prefix => :user %>
                <div class="gender">
                    <%= f.radio_button :gender, "m", :checked => true %><div class="user_label">Male</div>
                    <%= f.radio_button :gender, "f" %><div class="user_label">Female</div>
                </div>
                <%= f.submit "Update", :class => 'btn btn-primary btn-block' %>
                <%= link_to "Back", :back %>
            </div>
      <% end %>
    <div class="missions">
        <div id="mission_notify"></div>
        <div id="missionship_list">
            <% if current_user.missionships %>
                <% current_user.missionships.each do |missionship| %>
                    <%= render "missionships/missionship_item", :missionship => missionship %>
                <% end %>
            <% end %>
        </div>
        <div id="call_list">
            <% if current_user.call %>
            <%= render "calls/call_item", :call => current_user.call %>
            <% end %>
        </div>
        <div id="mission_options">
            <%= render "missions/mission_options" %>
        </div>
    </div>
  </div>
</section>
<%= render "shared/sidebar" %>
