<%= form_for @slog, :html => { :multipart => true } do |f| %>
    <div class="slog_attr">
        <% if @slog.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@slog.errors.count, "error") %> prohibited this post from being saved:</h2>
 
            <ul>
              <% @slog.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="form_text">
            <%= f.label :title %><%= f.text_field :title, :placeholder => "Title" %>
            <%= f.label :tag_list, "Tags"%><%= f.autocomplete_field :tag_list, autocomplete_tag_name_slogs_path, :placeholder => "Tags", :"data-delimiter" => ', ' %>
            <%= f.label :mission %><%= f.collection_select :mission_id, current_user.missions, :id, :name %>
        </div>
    </div>
    <div class="form_blocks">
      <%= f.fields_for :slog_blocks do |builder| %>
        <%= render 'slog_block_form', f: builder %>
      <% end %>        
      <%= link_to_add_block "Add Block", f %>
    </div>
    <div class="form_actions"><%= f.submit nil, :class => 'btn btn-primary' %></div>
<% end %>
