<fieldset>
  <section class="left_block">
    <% if f.object.image_url %>
      <%= image_tag f.object.image_url, class: "block_form_image" %>
    <% else %>
      <%= image_tag "image_placeholder.png", class: 'block_form_image' %>
    <% end %>
    <%= f.file_field :image %>
  </section>
  <section class="right_block">
    <%= f.text_area :body, class: "block_form_text", cols: '100%' %><br>
  </section>
  <section class="delete_block">
    <%= f.hidden_field :_destroy %>
    <%= link_to "Delete Block", "#", class: "delete_block btn btn-danger btn-mini" %>
  </section>
</fieldset>
