<section class="slog_item" id="slog_item_<%= slog.id %>">
    <div class="slog_item_side">
        <div class="slog_item_image">
            <%= slog_thumb(slog) %>
        </div>
        <div class="slog_item_vote">
            <span class="slog_item_upvote"><%= link_to "", "#", :class => "icon-arrow-up" %></span>
            <span class="slog_item_score rounded">2156</span>
        </div>
    </div>
    <div class="slog_item_content">
        <div class="slog_item_header">
            <span class="slog_item_type rounded"><%= slog.slog_type.name %></span>
            <h4><%= link_to slog.title, slog_path(slog) %></h4>
        </div>
        <p class="slog_item_excerpt">
            <%= truncate(strip_tags(slog.body), :length => 250, :separator => ' ').html_safe %>
        </p>
        <div class="slog_item_tags">
            <span>tags: </span>
            <!-- TODO: move line below to helper method. Probably shouldnt be calling raw in view -->
            <%= raw slog.tag_list.map { |t| link_to t, tag_path(t), :class => "tag" }.join() %>
        </div>
        <div class="slog_item_footer">
            <p class="slog_item_user">
                <span>Submitted by <%= link_to slog.user.username, user_show_path(slog.user) %></span>
                 about <span><%= time_ago_in_words(slog.created_at) %> ago -</span> 
            </p>
            <span class="slog_item_comments">
                <%= link_to slog.comment_threads.size.to_s + " comments", slog_path(slog) %>
            </span>
        </div>
        <div class="slog_item_mission">
            <% if slog.mission %>
            <%= slog.mission.name %>
            <% end %>
        </div>
    </div>
</section>
