<% if ! user_signed_in? && ! params[:page] %>
  <section id="top_banner">
    <h4>Welcome to Missionary Slog Book</h4>
    <p>
    Thousands of LDS missionaries come home from their missions every year. 
    They return filled with missionary expertise and wonderful stories. 
    Rarely is much of their experience or experiences passed on to more than a handful of people.
    We want to fix that.
    This isnt just for returned missionaries, anyone is welcome to create an account and post a "slog" about 
    missionary experience.
    </p>
    <div class="banner_actions">
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-success banner_action_link' %>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary banner_action_link' %>
    </div>
  </section>
<% end %>
<section class="home">
  <section class="page_body">
    <%= render 'filter' %>
    <section class="slog_list">
      <%= will_paginate @slogs %>
        <% @slogs.each do |slog| %>
            <%= render "slog_item", :slog => slog %>
        <% end %>
      <%= will_paginate @slogs, class: 'pagination_bot' %>
    </section>
  </section>
  <%= render "shared/sidebar" %>
</section>
