<section class="row">
    <article id="slog_content">
        <div id="slog_header">
            <% if @slog.image_url %>
            <div id="slog_header_image">
                <%= slog_image(@slog) %>
            </div>
            <% end %>
        </div>
        <div id="slog_header_body">
            <div id="slog_header_head">
                <div id="slog_type"><%= @slog.slog_type.name %></div>
                <div id="slog_vote">
                    <div id="slog_upvote"><%= link_to "", "#", :class => "icon-arrow-up" %></div>
                    <div id="slog_score">48375</div>
                </div>
            </div>
            <div id="slog_title"><%= @slog.title %></div>
            <div id="slog_tags">tags: <%= raw @slog.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></div>
            <div id="slog_header_foot">
                <div id="slog_auth_time">
                    <span id="slog_author">by <%= @slog.user.username %></span>
                    <span id="slog_time"><%= time_ago_in_words(@slog.created_at) %> ago</span>
                </div>
                <div id="slog_mission"><%= @slog.mission.name %></div>
            </div>
        </section>
        <section id="slog_body"><%= raw @slog.body %></div>
            <div id="slog_actions">
                <% if can? :update, @slog %>
                <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_slog_path(@slog), :class => 'btn edit_slog' %>
                <% end %>
                <% if can? :destroy, @slog %>
                <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          slog_path(@slog),
                          :method => 'delete',
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-danger destroy_slog' %>
                <% end %>
            </div>
        </section>
    </article>
    <section class="slog_comments">
        <% if user_signed_in? %>
        <div id="add_new_comment">
            <h4>Add Comment<h4>
            <%= render "shared/add_comment", :parent => nil %>
        </div>
        <% end %>
        <% for comment in @slog.root_comments %>
        <%= render "shared/comment", :comment => comment, :parent => comment.id %>
        <% end %>
    </section>
    <span class="back_to_slogs">
    <%= link_to "Back to Slogs", slogs_path %>
    </span>
    <div class="span4">
       <%= render "shared/sidebar" %>
    </div>
</section>
