<%= form_for @call, remote: true, :html => { :id => @call.id ? "call_edit_#{@call.id}" : "call_new" } do |m| %>
  <% if params[:action] == 'new' %>
    <div class="call_form call_mission_name"><%= m.autocomplete_field :mission_name, autocomplete_mission_name_calls_path, :placeholder => "Mission name" %></div>
  <% else %>
    <div class="call_mission_name"><%= @call.mission_name %></div>
  <% end %>
  <div class="call_form"><%= m.label :start_date %><%= m.date_select :start_date, :order => [:month, :day, :year], :use_short_month => false,
    :start_year => (Time.now.year), :end_year => (Time.now.year - 70) %></div>
  <div class="call_form"><%= m.submit (params[:action] == "new" ? "Add" : "Update" ), :class => "btn btn-primary submit_call" %></div>
<% end %>
