<section class="page_body">
  <div class="page_wrapper">
    <%= link_to "&larr; Back".html_safe, :back, :class => "link_back" %>
    <div class="page-header">
        <h2><%= @user.username %></h2>
    </div>
    <% if @user == current_user %>
      <div class="user_slog_header"><%= link_to "Edit Profile", edit_user_registration_path %></div>
    <% end %>
    <%= avatar( @user ) %>
    <section class="user_mission">
      <% @user.missionships.each do |m| %>
        <div>
          Served in the <%= m.mission_name + " Mision" %> from 
          <%= m.start_date.strftime('%b %d') %> to <%= m.end_date.strftime('%b %d') %>
        </div>
      <% end %>
    </section>
    <h4 class="user_slog_header">Slogs by <%= @user.username %></h4>
    <% @user.slogs.each do |slog| %>
      <%= render "slogs/slog_item", :slog => slog %>
    <% end %>
  </div>
</section>
<%= render "shared/sidebar" %>
