<section class="page_body_full">
  <div class="sign_wrapper">
    <h1><%= link_to "", root_path, class: 'logo' %></h1>
    <h4>Change your password</h4>

    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <div><%= f.label :password, "New password" %><br />
      <%= f.password_field :password, :autofocus => true %></div>

      <div><%= f.label :password_confirmation, "Confirm new password" %><br />
        <%= f.password_field :password_confirmation, :class => 'single_text' %></div>

    <div><%= f.submit "Change my password", :class => "btn btn-success btn-large btn-block" %></div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</section>
