<div class="comment" id="comment_<%= comment.id %>">
  <%= avatar_thumb( comment.user ) %>
  <div class="comment_content">
    <div class="comment_meta">
      <%= link_to comment.user.username, user_show_path(comment.user) %> &middot;
      <%= time_ago_in_words(comment.created_at) %> ago &middot;
      <%= comment.children.size %> replies
    </div>
    <div class="comment_body"><%= simple_format comment.body %></div>
    <% if user_signed_in? %>
      <div class="comment_reply">reply</div>
      <%= render "shared/add_comment", :parent => comment.id %>
    <% else%>
      <%= link_to "reply", new_user_session_path, class: "comment_reply" %>
    <% end %>
  </div>
  <div class="nested_comments" id="nested_comments_<%= comment.id %>">
    <% if( comment.has_children?) %>
      <% for child_comment in comment.children %>
        <%= render "shared/comment", :comment => child_comment, :parent => comment.id %>
      <% end %>
    <% end %>
  </div>
</div>
