<footer>
  <div>
    <%= render 'shared/addthis_follow' %>
  </div>
  <div>
    <h4>Links</h4>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About" %></li>
      <li><%= link_to "Contact" %></li>
      <li><%= link_to "Terms" %></li>
    </ul>
  </div>
    <div>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About" %></li>
    </ul>
  </div>
  <div></div>
</footer>
