<ul class="nav">
    <li class="nav_header">Missionary Slogbook</li>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "About", about_pages_path %></li>
    <li><%= link_to "Contact", contact_pages_path %></li>
    <% if user_signed_in? %>
      <li>
        <%= link_to "New Slog", new_slog_path,:class => "new-slog-post" %>
      </li>
      <li>
          Signed in as <%= link_to current_user.username, user_show_path(current_user) %>. Not you?
          <%= link_to "Sign out", destroy_user_session_path, :method => 'delete' %>
      </li>
    <% else %>
      <li>
          <%= link_to "Sign in", new_user_session_path %> or 
          <%= link_to "Sign up", new_user_registration_path %>
      </li>
    <% end %>
</ul>
