<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js ie lt-ie9"> <![endif]-->
<!--[if IE 9]>   <html class="no-js ie"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <% if @image %>
          <meta property="og:image" content="<%= @image %>" />
        <% end %>
        <style>
            body {
                padding-bottom: 20px;
            }
        </style>
		<%= stylesheet_link_tag "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
    </head>
    <body class="home">
<!--[if lt IE 9]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please 
<a href="http://browsehappy.com/">upgrade your browser</a> or 
<a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> 
to improve your experience.</p>
<![endif]-->
<%= render "layouts/nav" %> 
<section class="page">
  <section class="banner">
    <h1><%= link_to "", root_path, :class => "logo", :title => "Missionary Slog Book - Home" %></h1>
  </section>
    <section class="container">
        <button class="mini_nav">nav</button>
        <% flash.each do |name, msg| %>
        <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
            <a class="close" data-dismiss="alert">x</a>
            <%= msg %>
        </div>
        <% end %>
        <%= yield %>
    </section>

</section>
<script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src='//www.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
</body>
</html>
