<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js ie lt-ie9"> <![endif]-->
<!--[if IE 9]>   <html class="no-js ie"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <style>
            body {
                padding-bottom: 20px;
            }
        </style>
		<%= stylesheet_link_tag "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
    </head>
    <body class="home">
<!--[if lt IE 9]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please 
<a href="http://browsehappy.com/">upgrade your browser</a> or 
<a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> 
to improve your experience.</p>
<![endif]-->
<section class="page">
    <h1><%= link_to "", root_path, :class => "logo", :title => "Missionary Slog Book - Home" %></h1>
    <ul class="mini_nav">
        <li class="toggle_nav">Nav</li>
        <li class="toggle_login">Login</li>
    </ul>
    <ul class="nav">
        <li><%= link_to "Blog" %></li>
        <li><%= link_to "Slog" %></li>
        <li><%= link_to "Shop" %></li>
    </ul>
    <section class="user_nav">
        <% if user_signed_in? %>
            Signed in as <%= link_to current_user.username, user_show_path(current_user) %>. Not you?
            <%= link_to "Sign out", destroy_user_session_path, :method => 'delete' %>
        <% else %>
            <%= link_to "Sign in", new_user_session_path %> or <%= link_to "Register", new_user_registration_path %>
        <% end %>
    </section>
    
    <% if params[:controller] == "slogs" && params[:action] == "index" %>
    <span class="toggle_filter">Filter</span>
    <section class="filter_bar container">
        <section class="slog_filters">
            <div class="search">
                <span><input type="text" class="search_input" placeholder="Search..."></span>
            </div>
            <%= form_tag :method => 'get' do %>
                <%= submit_tag "Filter", class: "btn btn-info btn-mini", :id => "submit_filter" %>
                <%= text_field_tag "mission_filter", nil, :placeholder => "Missions..." %>
                <%= text_field_tag "tag_filter", nil, :placeholder => "Tags..." %>
                <%= select_tag "time_filter", options_for_select(@times) %>
            <% end %>
        </section>
        <% if user_signed_in? %>
            <div class="new_slog">
                <%= link_to "New Slog", new_slog_path,:class => "btn btn-info btn-mini" %>
            </div>
        <% end %>
    </section>
    <% end %>

    <section class="container">
        <% flash.each do |name, msg| %>
        <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
            <a class="close" data-dismiss="alert">x</a>
            <%= msg %>
        </div>
        <% end %>
        <%= yield %>
    </section>

</section>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="js/main.js"></script>
<script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src='//www.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
</body>
</html>
